@import "bootstrap-sprockets";
@import "bootstrap";
//@import “materialize”;

/*geral*/

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/*tipografia*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.5em;
  color: #008CAD;
  text-transform: lowercase;
  //text-align: center;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
