<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "Avance", '/', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",   '/' %></li>
              <li><%= link_to "Doações",   '/donates' %></li>
              <li><%= link_to "Login", '/login' %></li>
            </ul>
          </nav>
        </div>
      </header>

    <div class="container">
      Para Doar Vá para o HRAN e procure a avance ou ligue no numero 83245236
    </div>
  </body>
