<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container" class="nav-wrapper">
        <%= link_to "Avance", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right" id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="/donates">Doações</a></li>
              <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!%= link_to image_tag("avance.png" alt: "Avance logo"),
    'https://pt-br.facebook.com/avancebr/' %>
    <!img alt="Avance logo" src="avance.png" height="60" width="60">

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
