<% provide(:title, "Log in") %>
<h1>Log in</h1>
<head>
  <%= stylesheet_link_tag 'application', media: 'all',
                                         'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Avance", '/', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   '/' %></li>
          <li><%= link_to "Doações",   '/donates' %></li>
        </ul>
      </nav>
    </div>
  </header>
  <!%= link_to image_tag("avance.png" alt: "Avance logo"),
  'https://pt-br.facebook.com/avancebr/' %>
  <!img alt="Avance logo" src="avance.png" height="60" width="60">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :senha %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Entrar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</body>
