<%= form_for(@cadastro_menor) do |f| %>
  <% if @cadastro_menor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cadastro_menor.errors.count, "error") %> prohibited this cadastro_menor from being saved:</h2>

      <ul>
      <% @cadastro_menor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <table>
      <tr>
        <th WIDTH=200><%= f.label :Nome %></th>
        <th WIDTH=230><%= f.label :Data_de_Nascimento %></th><br>
        <th WIDTH=100><%= f.label :Sexo %><br></th>
        <th WIDTH=200><%= f.label :Naturalidade %><br></th>
        <th WIDTH=230><%= f.label :Filiação %><br></th><br>
        <th WIDTH=200></th>
    </tr>
    <tr>
        <th WIDTH=200><%= f.text_field :Nome %></th>
        <th WIDTH=230><%= f.date_select :Data_de_Nascimento, :start_year => Time.now.year - 80, :end_year => Time.now.year%></th>
        <th WIDTH=100><%= f.check_box :Sexo %></th>
        <th WIDTH=200><%= f.text_field :Naturalidade %></th>
        <th WIDTH=230><%= f.text_field :Filiação %></th>
        <th WIDTH=200></th>
    </tr>

    <tr>
      <th WIDTH=200><%= f.label :Nome_Responsavel %><br></th>
      <th WIDTH=200><%= f.label :RG %><br></th>
      <th WIDTH=230><%= f.label :CPF %><br></th><br>
    </tr>
    <tr>
        <th WIDTH=200><%= f.text_field :Nome_Responsavel %></th>
        <th WIDTH=200><%= f.text_field :RG %></th>
        <th WIDTH=230><%= f.text_field :CPF %></th>
    </tr>
    <tr>
      <th WIDTH=200><%= f.label :Estado_Civil %><br></th>
      <th WIDTH=230><%= f.label :Profissão %><br></th><br>
      <th WIDTH=200><%= f.label :Instrução %><br></th>
      <th WIDTH=230><%= f.label :Renda_Familiar %><br></th><br>
    </tr>
    <tr>
        <th WIDTH=200><%= f.text_field :Estado_Civil %></th>
        <th WIDTH=230><%= f.text_field :Profissão %></th>
        <th WIDTH=200><%= f.text_field :Instrução %></th>
        <th WIDTH=230><%= f.text_field :Renda_Familiar %></th>
    </tr>
    <tr>
      <th WIDTH=200><%= f.label :Endereço_atual %><br></th>
      <th WIDTH=230><%= f.label :Cidade %><br></th><br>
      <th WIDTH=200><%= f.label :Telone %><br></th>
      <th WIDTH=200><%= f.label :Moradia %><br></th>
    </tr>
    <tr>
        <th WIDTH=200><%= f.text_field :Endereço_atual %></th>
        <th WIDTH=230><%= f.text_field :Cidade %></th>
        <th WIDTH=200><%= f.text_field :Telone %></th>
        <th WIDTH=200><%= f.text_field :Moradia %></th>
    </tr>
    <tr>
      <th WIDTH=200><%= f.label :Descrição_acidente %><br></th>
      <th WIDTH=230><%= f.label :Agente_Causador %><br></th><br>
      <th WIDTH=200><%= f.label :Queimadura %><br></th>
      <th WIDTH=200><%= f.label :Região_Atingida %><br></th>
      <th WIDTH=100><%= f.label :Sequela %><br></th>
      <th WIDTH=200><%= f.label :Data_Acidente %><br></th>
    </tr>
    <tr>
        <th WIDTH=200><%= f.text_area :Descrição_acidente %></th>
        <th WIDTH=230><%= f.text_field :Agente_Causador %></th>
        <th WIDTH=200><%= f.check_box :Queimadura %></th>
        <th WIDTH=200><%= f.text_field :Região_Atingida %></th>
        <th WIDTH=100><%= f.check_box :Sequela %></th>
        <th WIDTH=200><%= f.date_select :Data_de_Nascimento, :start_year => Time.now.year - 10, :end_year => Time.now.year%></th>
    </tr>
</table>
  <div class="actions">
      <input type="submit" name="commit" value="Cadastrar Paciente" />
  </div>
<% end %>
