<p id="notice"><%= notice %></p>

<h1>Lista de Pacientes</h1>

<table border="1">
  <thead>
    <tr>
      <th WIDTH=150>Nome</th>
      <th WIDTH=150>Data de nascimento</th>
      <th WIDTH=150>Sexo</th>
      <th WIDTH=150>Idade</th>
      <th WIDTH=150 colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastro_menors.each do |cadastro_menor| %>
      <tr>
        <td WIDTH=150><%= cadastro_menor.Nome %></td>
        <td WIDTH=150><%= cadastro_menor.Data_de_Nascimento %></td>
        <td WIDTH=150><%= cadastro_menor.Sexo %></td>
        <td WIDTH=150><%= cadastro_menor.Idade %></td>
        <td WIDTH=150><%= link_to 'Mostrar', cadastro_menor %></td>
        <td WIDTH=150><%= link_to 'Editar', edit_cadastro_menor_path(cadastro_menor) %></td>
        <td WIDTH=150><%= link_to 'Deletar', cadastro_menor, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Paciente', new_cadastro_menor_path %>
