<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro_menor.Nome %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @cadastro_menor.Data_de_Nascimento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @cadastro_menor.Sexo %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @cadastro_menor.Idade %>
</p>

<p>
  <strong>Naturalidade:</strong>
  <%= @cadastro_menor.Naturalidade %>
</p>

<p>
  <strong>Filiação:</strong>
  <%= @cadastro_menor.Filiação %>
</p>

<p>
  <strong>Nome responsavel:</strong>
  <%= @cadastro_menor.Nome_Responsavel %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @cadastro_menor.RG %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cadastro_menor.CPF %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @cadastro_menor.Estado_Civil %>
</p>

<p>
  <strong>Profissão:</strong>
  <%= @cadastro_menor.Profissão %>
</p>

<p>
  <strong>Instrução:</strong>
  <%= @cadastro_menor.Instrução %>
</p>

<p>
  <strong>Endereço atual:</strong>
  <%= @cadastro_menor.Endereço_atual %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cadastro_menor.Cidade %>
</p>

<p>
  <strong>Telone:</strong>
  <%= @cadastro_menor.Telone %>
</p>

<p>
  <strong>Moradia:</strong>
  <%= @cadastro_menor.Moradia %>
</p>

<p>
  <strong>Renda familiar:</strong>
  <%= @cadastro_menor.Renda_Familiar %>
</p>

<p>
  <strong>Descrição acidente:</strong>
  <%= @cadastro_menor.Descrição_acidente %>
</p>

<p>
  <strong>Agente causador:</strong>
  <%= @cadastro_menor.Agente_Causador %>
</p>

<p>
  <strong>Queimadura:</strong>
  <%= @cadastro_menor.Queimadura %>
</p>

<p>
  <strong>Região atingida:</strong>
  <%= @cadastro_menor.Região_Atingida %>
</p>

<p>
  <strong>Sequela:</strong>
  <%= @cadastro_menor.Sequela %>
</p>

<p>
  <strong>Data acidente:</strong>
  <%= @cadastro_menor.Data_Acidente %>
</p>

<p>
  <strong>Brasilia df:</strong>
  <%= @cadastro_menor.Brasilia_DF %>
</p>

<%= link_to 'Editar', edit_cadastro_menor_path(@cadastro_menor) %> |
<%= link_to 'Voltar', cadastro_menors_path %>
